In [1]:
import pandas as pd
import numpy as np

In [77]:
gion = pd.read_csv('./기온.csv', header=7, encoding='euc-kr')

In [78]:
gion.head()

    \t\t지점번호         지점명   일시  평균기온(℃) 최고기온(℃)  \t최고기온시각 최저기온(℃)  최저기온시각일교차
239       세종  2020-01-01 -1.6      4.0   14:01      -8.6   00:17       12.6
239       세종  2020-01-02  0.7      4.4   14:59      -3.1   06:48        7.5
239       세종  2020-01-03  1.3      6.5   13:52      -1.9   23:53        8.4
239       세종  2020-01-04  0.2      7.4   15:13      -4.6   06:39       12.0
239       세종  2020-01-05  0.6      6.5   13:51      -5.4   05:55       11.9

In [79]:
gion.columns

Index(['\t\t지점번호', '지점명', '일시', '평균기온(℃)', '최고기온(℃)', '\t최고기온시각', '최저기온(℃)',
       '최저기온시각일교차'],
      dtype='object')

In [80]:
gion.columns = ['지점번호', '지점명', '일시', '평균기온', '최고기온', '최고기온시각', '최저기온', '최저기온시각일교차']
gion.head(1)

    지점번호         지점명   일시  평균기온   최고기온  최고기온시각   최저기온  최저기온시각일교차
239   세종  2020-01-01 -1.6   4.0  14:01    -8.6  00:17       12.6

In [81]:
# 컬럼 이름이 오른쪽으로 하나씩 밀림!!! 그래서 
# 지점명 => 일시 
# 일시 => 평균기온
gion = gion.drop(['지점번호', '평균기온', '최고기온', '최고기온시각', '최저기온', '최저기온시각일교차'], axis=1)
gion.columns = ['일시', '평균기온']
gion.head()

             일시  평균기온
239  2020-01-01  -1.6
239  2020-01-02   0.7
239  2020-01-03   1.3
239  2020-01-04   0.2
239  2020-01-05   0.6

In [82]:
gion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096 entries, 239 to 239
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      1096 non-null   object
 1   평균기온    1094 non-null   float64
dtypes: float64(1), object(1)
memory usage: 25.7+ KB

In [15]:
sebdo = pd.read_csv('./습도.csv', header=7, encoding='euc-kr')

In [16]:
sebdo.head()

   \t\t지점번호 지점명          일시  평균습도(%rh)  최저습도(%rh)
0       239  세종  2020-01-01       65.0       44.0
1       239  세종  2020-01-02       74.3       58.0
2       239  세종  2020-01-03       71.1       39.0
3       239  세종  2020-01-04       69.1       39.0
4       239  세종  2020-01-05       58.4       26.0

In [36]:
sebdo.columns

Index(['\t\t지점번호', '지점명', '일시', '평균습도(%rh)', '최저습도(%rh)'], dtype='object')

In [39]:
sebdo.columns = ['지점번호', '지점명', '일시', '평균습도', '최저습도']
sebdo.head(1)

   지점번호 지점명          일시  평균습도  최저습도
0   239  세종  2020-01-01  65.0  44.0

In [41]:
sebdo = sebdo.drop(['지점번호', '지점명', '최저습도'], axis=1)
sebdo.head(1)

           일시  평균습도
0  2020-01-01  65.0

In [83]:
sebdo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      1096 non-null   object
 1   평균습도    1094 non-null   float64
dtypes: float64(1), object(1)
memory usage: 17.2+ KB

In [28]:
baram = pd.read_csv('./바람.csv', header=7, encoding='euc-kr')

In [29]:
baram.head()

,\t\t지점번호,지점명,일시,평균풍속(m/s),최대풍속(m/s),최대풍속풍향(deg),\t최대풍속시각,최대순간풍속(m/s),최대순간풍속풍향(deg),\t최대순간풍속시각
0,239,세종,2020-01-01,0.8,2.7,250,13:13,4.7,270,13:13
1,239,세종,2020-01-02,0.6,2.1,340,06:52,3.4,270,15:04
2,239,세종,2020-01-03,1.0,3.2,320,12:58,5.5,340,12:55
3,239,세종,2020-01-04,0.8,2.6,320,18:16,4.1,340,17:13
4,239,세종,2020-01-05,0.6,1.8,110,14:38,2.7,110,13:43

In [42]:
baram.columns

Index(['\t\t지점번호', '지점명', '일시', '평균풍속(m/s)', '최대풍속(m/s)', '최대풍속풍향(deg)',
       '\t최대풍속시각', '최대순간풍속(m/s)', '최대순간풍속풍향(deg)', '\t최대순간풍속시각'],
      dtype='object')

In [43]:
baram.columns = ['지점번호', '지점명', '일시', '평균풍속', '최대풍속', '최대풍속풍향',
       '최대풍속시각', '최대순간풍속', '최대순간풍속풍향', '최대순간풍속시각']
baram.head(1)

   지점번호 지점명          일시  평균풍속  최대풍속  최대풍속풍향 최대풍속시각  최대순간풍속  최대순간풍속풍향 최대순간풍속시각
0   239  세종  2020-01-01   0.8   2.7     250  13:13     4.7       270    13:13

In [44]:
baram = baram.drop(['지점번호', '지점명', '최대풍속', '최대풍속풍향',
       '최대풍속시각', '최대순간풍속', '최대순간풍속풍향', '최대순간풍속시각'], axis=1)
baram.head(1)

           일시  평균풍속
0  2020-01-01   0.8

In [84]:
baram.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      1096 non-null   object
 1   평균풍속    1096 non-null   float64
dtypes: float64(1), object(1)
memory usage: 17.2+ KB

In [30]:
gangsu = pd.read_csv('./강수량.csv', header=7, encoding='euc-kr')

In [31]:
gangsu.head()

   \t지점번호 지점명          일시  강수량(mm)  1시간최다강수량(mm) 1시간최다강수량시각  Unnamed: 6
0     239  세종  2020-01-01      NaN           NaN        NaN         NaN
1     239  세종  2020-01-02      NaN           NaN        NaN         NaN
2     239  세종  2020-01-03      NaN           NaN        NaN         NaN
3     239  세종  2020-01-04      NaN           NaN        NaN         NaN
4     239  세종  2020-01-05      NaN           NaN        NaN         NaN

In [45]:
gangsu.columns

Index(['\t지점번호', '지점명', '일시', '강수량(mm)', '1시간최다강수량(mm)', '1시간최다강수량시각',
       'Unnamed: 6'],
      dtype='object')

In [46]:
gangsu.columns = ['지점번호', '지점명', '일시', '강수량', '1시간최다강수량', '1시간최다강수량시각','Unnamed6']
gangsu.head(1)

   지점번호 지점명          일시  강수량  1시간최다강수량 1시간최다강수량시각  Unnamed6
0   239  세종  2020-01-01  NaN       NaN        NaN       NaN

In [47]:
gangsu = gangsu.drop(['지점번호', '지점명', '1시간최다강수량', '1시간최다강수량시각','Unnamed6'], axis=1)
gangsu.head(1)

           일시  강수량
0  2020-01-01  NaN

In [85]:
gangsu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      1096 non-null   object
 1   강수량     354 non-null    float64
dtypes: float64(1), object(1)
memory usage: 17.2+ KB

In [86]:
# 날씨 정보 통합
weather = gion.merge(sebdo, on='일시')

In [87]:
weather.head(1)

           일시  평균기온  평균습도
0  2020-01-01  -1.6  65.0

In [88]:
weather = weather.merge(baram, on='일시')

In [89]:
weather.head(1)

           일시  평균기온  평균습도  평균풍속
0  2020-01-01  -1.6  65.0   0.8

In [90]:
weather = weather.merge(gangsu, on='일시')

In [91]:
weather.head(1)

           일시  평균기온  평균습도  평균풍속  강수량
0  2020-01-01  -1.6  65.0   0.8  NaN

In [92]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096 entries, 0 to 1095
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      1096 non-null   object
 1   평균기온    1094 non-null   float64
 2   평균습도    1094 non-null   float64
 3   평균풍속    1096 non-null   float64
 4   강수량     354 non-null    float64
dtypes: float64(4), object(1)
memory usage: 51.4+ KB

In [96]:
# 결측치 확인
for col in weather.columns:
    msg = 'column: {:>10}\t Percent of NaN value: {:.2f}%'\
    .format(col, 100*(weather[col].isnull().sum() / weather[col].shape[0]))
    print(msg)

column:         일시	 Percent of NaN value: 0.00%
column:       평균기온	 Percent of NaN value: 0.18%
column:       평균습도	 Percent of NaN value: 0.18%
column:       평균풍속	 Percent of NaN value: 0.00%
column:        강수량	 Percent of NaN value: 67.70%

In [99]:
# 가수량 컬럼은 삭제
# 평균기온, 평균습도는 평균 값으로 채우기
weather = weather.drop('강수량', axis=1)
weather.columns

Index(['일시', '평균기온', '평균습도', '평균풍속'], dtype='object')

In [101]:
weather['평균기온'].fillna(method='ffill', inplace=True)
weather['평균습도'].fillna(method='ffill', inplace=True)
weather.isnull().sum()

일시      0
평균기온    0
평균습도    0
평균풍속    0
dtype: int64

In [104]:
weather.to_csv('./weather.csv', index=False)

In [ ]:
!conda install -c anaconda lxml -y

In [7]:
price2020 = pd.read_html('./가격정보2020.xls')[0]
price2020.head()

,구분,구분.1,구분.2,01/02,01/03,01/06,01/07,01/08,01/09,01/10,...,12/17,12/18,12/21,12/22,12/23,12/24,12/28,12/29,12/30,12/31
0,평균,평균,평균,3580,3580,3580,3480,3480,3480,3480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,평년,평년,평년,2180,2180,2180,2180,2180,2270,2288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,세종,C-유통,봄,3580,3580,3580,3480,3480,3480,3480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,세종,C-유통,여름(고랭지),-,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,구분 01/02 01/03 01/06 01/07 01/08 01/09 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
price2020 = price2020.iloc[0,3:-1]
price2020.head()

01/02    3580
01/03    3580
01/06    3580
01/07    3480
01/08    3480
Name: 0, dtype: object

In [9]:
price2020 = price2020.reset_index()
price2020.head(1)

   index     0
0  01/02  3580

In [10]:
price2020.columns = ['일시', '가격']
price2020.head(1)

      일시    가격
0  01/02  3580

In [11]:
def add_year(date):
    tmp = date.replace('/', '-')
    tmp = '2020-' + tmp
    return tmp
add_year(price2020['일시'][0])

'2020-01-02'

In [12]:
price2020['일시'] = price['일시'].apply(add_year)
price2020.head()

           일시    가격
0  2020-01-02  3580
1  2020-01-03  3580
2  2020-01-06  3580
3  2020-01-07  3480
4  2020-01-08  3480

In [13]:
weather = pd.read_csv('./weather.csv')
weather.head()

           일시  평균기온  평균습도  평균풍속
0  2020-01-01  -1.6  65.0   0.8
1  2020-01-02   0.7  74.3   0.6
2  2020-01-03   1.3  71.1   1.0
3  2020-01-04   0.2  69.1   0.8
4  2020-01-05   0.6  58.4   0.6

In [14]:
df = pd.merge(price2020, weather, how='inner', on='일시')
df.head()

           일시    가격  평균기온  평균습도  평균풍속
0  2020-01-02  3580   0.7  74.3   0.6
1  2020-01-03  3580   1.3  71.1   1.0
2  2020-01-06  3580   2.4  83.6   1.1
3  2020-01-07  3480   8.2  95.6   1.3
4  2020-01-08  3480   3.9  85.8   2.3

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 246
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      247 non-null    object
 1   가격      41 non-null     object
 2   평균기온    247 non-null    float64
 3   평균습도    247 non-null    float64
 4   평균풍속    247 non-null    float64
dtypes: float64(3), object(2)
memory usage: 11.6+ KB

In [19]:
df['가격'] = df['가격'].astype(np.float64)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 246
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      247 non-null    object
 1   가격      41 non-null     float64
 2   평균기온    247 non-null    float64
 3   평균습도    247 non-null    float64
 4   평균풍속    247 non-null    float64
dtypes: float64(4), object(1)
memory usage: 11.6+ KB

In [21]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      41 non-null     object
 1   가격      41 non-null     float64
 2   평균기온    41 non-null     float64
 3   평균습도    41 non-null     float64
 4   평균풍속    41 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.9+ KB

In [22]:
df.head()

           일시      가격  평균기온  평균습도  평균풍속
0  2020-01-02  3580.0   0.7  74.3   0.6
1  2020-01-03  3580.0   1.3  71.1   1.0
2  2020-01-06  3580.0   2.4  83.6   1.1
3  2020-01-07  3480.0   8.2  95.6   1.3
4  2020-01-08  3480.0   3.9  85.8   2.3

In [23]:
from sklearn.model_selection import train_test_split
X = df.iloc[:,2:-1]
y = df['가격']
X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.2, random_state=0)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(32, 2) (32,) (9, 2) (9,)

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet

In [25]:
rfr = RandomForestRegressor()
gbr = GradientBoostingRegressor()
eln = ElasticNet()
lr = LinearRegression()

In [26]:
rfr.fit(X_train, y_train)
gbr.fit(X_train, y_train)
eln.fit(X_train, y_train)
lr.fit(X_train, y_train)

LinearRegression()

In [27]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [31]:
def performance_evaluation(y_test, y_pred, X_test):
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = mean_squared_error(y_test, y_pred, squared=False)
    r2 = r2_score(y_test, y_pred)
    adj_r2 = 1-(1-r2)*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)
    print('MAE: {}'.format(round(mae, 2)))
    print('MSE: {}'.format(round(mse, 2)))
    print('RMSE: {}'.format(round(rmse, 2)))
    print('R2: {}'.format(round(r2, 2)))

In [32]:
# RandomForestRegressor 성능 평가
y_pred = rfr.predict(X_test)
performance_evaluation(y_test, y_pred, X_test)

MAE: 316.73
MSE: 190757.86
RMSE: 436.76
R2: 0.17

In [35]:
# GradientBoostingRegressor 성능 평가
y_pred = gbr.predict(X_test)
performance_evaluation(y_test, y_pred, X_test)

MAE: 481.78
MSE: 384734.38
RMSE: 620.27
R2: -0.67

In [36]:
# ElasticNet 성능 평가
y_pred = eln.predict(X_test)
performance_evaluation(y_test, y_pred, X_test)

MAE: 409.98
MSE: 254111.37
RMSE: 504.09
R2: -0.11

In [37]:
# LinearRegression 성능 평가
y_pred = lr.predict(X_test)
performance_evaluation(y_test, y_pred, X_test)

MAE: 409.62
MSE: 253591.99
RMSE: 503.58
R2: -0.1